body{
  background-color: white !important;
}

.sidebar{
  position: fixed;
  width: 270px;
  height:100vh;
  border-right: dashed 1px silver;
  top: 0;
}

.content
{
  min-height: 100vh;
  margin-left: 270px;
}

.image{
  height:60px;
  width:60px;
  font-size: 36px;
  text-align: center;
  background-color: lightgray;
  padding:1;
}

.logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-weight: bold;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar{
  height: 10px;
  background-color: #008000;
  border-radius: 20px;
}

.inner-bar{
  height: 10px;
  background-color: silver;
  border-radius: 20px;
}